@media screen and (max-width: 1200px) {
    .novo_menu-sumir_palavra {
        display: none;
    }
}

body {
    background: #f6f6f6;
    font-family: sans-serif;
    margin: 0;
}

#novo_tarja-topo {
    width: 100%;
    height: 5px;
    background: #009045;
}

#novo_topo {
    width: 100%;
    height: 90px;
    position: relative;
}

#novo_guri-marca {
    height: 84px;
    position: absolute;
    left: 19px;
    top: -9px;
    overflow: hidden;
}

#novo_unipampa {
    position: absolute;
    left: 299px;
    top: -9px;
    border-left: 1px solid #ddd;
    padding: 5px 0 5px 31px;
}

.novo_marca-unipampa {
    width: 370px;
}

#novo_marca {
    width: 260px;
}

#novo_marca-mobile { display: none; }

#novo_menu {
    width: 100%;
    height: 47px;
    background: #009045;
    position: relative;
}

#novo_menu-principal {
    position: relative;
    height: 47px;
    list-style: none;
    padding: 0;
}

.novo_amenos, .novo_a, .novo_amais {
    font-weight: 700;
    font-size: 16px;
    padding: 0 3px;
    color: #666;
}

.novo_menu {
    width: auto;
    height: 47px;
    float: left;
}

.novo_link-menu {

    padding: 0 25px;
    display: block;
    float: left;
    height: 47px;
    line-height: 47px;
    color: #fff !important;
    font-size: 15px;
    text-decoration: none;
    border-right: 1px solid #44a155;
    font-weight: 300;
    font-weight: 700;

}

.novo_link-menu:hover {
    text-decoration: none;

}

.novo_link-menu:active {
    text-decoration: none !important;
}

.novo_menu:hover {
    background: #333;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.novo_submenu-quadro {
    width: 100%;
    min-width: 920px;
    height: 0px;
    background: #fff;
    -webkit-box-shadow: 0 10px 15px #ccc;
    -moz-box-shadow: 0 10px 15px #ccc;
    -o-box-shadow: 0 10px 15px #ccc;
    box-shadow: 0 10px 15px #ccc;
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    overflow: hidden;
    z-index: 2;
}

.novo_submenu-quadro-click {
    top: 47px;
    opacity: 1;
    height: auto;
    overflow: visible;
    transition-delay:0.1s;
}


.novo_submenu1, .novo_submenu2, .novo_submenu3 {
    width: 100%;
    height: 47px;
    background: #f3f3f3;
    float: left;
    padding: 0;
}

.novo_submenu1 li, .novo_submenu2 li, .novo_submenu3 li {
    float: left;
    list-style: none;
}

.novo_abas-conteudo1, .novo_abas-conteudo2, .novo_abas-conteudo3 { padding: 0; }
.novo_menu-opcoes { padding: 0; }

.novo_link-submenu {
    display: block;
    padding: 0 15px;
    height: 47px;
    line-height: 47px;
    font-weight: 500;
    color: #666 !important;
    float: left;
    font-size: 10.5px;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.novo_link-submenu:hover { font-weight: none !important; text-decoration: none !important; }

.novo_link-submenu:hover, .novo_ativo {
    background: #fff;
    color: #009045;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.novo_coluna-1 {
    width: 270px;
    margin: 20px 0 25px 35px;
    padding: 0 25px 0 0;
    float: left;
    border-right: 1px solid #eee;
    text-align: left;

}

.novo_titulo-menus {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.novo_lista-opcoes {
    list-style-image: url(../imagens/marcador-lista.png);
    list-style-position: inside;
}

.novo_link-opcoes {
    font-size: 12px;
    font-weight: 500;
    color: #555 !important;
    text-decoration: none;
    line-height: 25px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.novo_link-opcoes:hover {
    color: #009045 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

#novo_busca {
    position: absolute;
    width: 200px;
    height: 47px;
    top: 0;
    right: 250px;
}

.novo_fundo-busca {
    width: 430px;
    height: 30px;
    position: relative;
    margin: 0;
}

.novo_text-busca {
    width: 200px;
    height: 30px;
    margin: 8px;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #333;
    padding-left: 15px;
    position: absolute;
    right: 0;
    -webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
    transition: all 500ms cubic-bezier(0.525, -0.015, 0.000, 0.990);
}

.novo_text-busca:focus {
    outline: none;
    width: 400px;
    opacity: 1;
}

.novo_botao-busca {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 20px;
    height: 19px;
    background: url(../imgs/busca.png);
    border: none;
    padding: 5px;
    margin-left: 20px;
}

.novo_conteudo { display: none; }
.novo_aba-ativa {
    display: block;
}


#novo_menu-auxiliar {
    position: absolute;
    top: 20px;
    right: 20px;
}

#novo_menu-acessibilidade {
    float: right;
    margin-top: 25px;
}

#novo_menu-auxiliar-mobile {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 230px;
    display: none;
}

.novo_alterar-fonte {
    width: 70px;
    height: 16px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ddd;
    float: left;
    margin-bottom: 8px;
}

.novo_contraste {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ddd;
    margin-bottom: 8px;
}

.novo_link-contraste, .novo_link-mapa {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    text-decoration: none;
}

.novo_link-contraste:hover, .novo_link-mapa:hover { font-weight: 700 !important; text-decoration: none !important; }

.novo_site-map {
    float: left;
    margin-bottom: 8px;
}

.novo_login {
    float: right;
    margin: -8px;
}

.novo_botao-login {
    float: left;
    display: block;
    background: #009045;
    color: #fff !important;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.novo_botao-login:hover {
    background: #333;
    font-weight: normal !important;
}

#novo_menu-mobile {
    display: none;
}

/* -------------------------------------- Menu -------------------*/

#novo_conteudo-login {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 5px;
    overflow: hidden;
}

.novo_marca-guri {
    width: 350px;
    margin: 145px 60px 0 50px;
    float: left;
}

.novo_topo-login {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 17px;
    float: left;
}

.novo_caixa-login {
    width: 605px;
    height: 395px;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #fff;
    margin: 20px 10px 25px 0;
    padding: 10px 25px;
    float: left;
}

.novo_titulo-login {
    display: block;
    float: left;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

.novo_ajuda-login {
    display: block;
    float: right;
    font-size: 11px;
    color: #666;
    text-decoration: none;
}

.novo_form-login {
    width: 355px;
    float: left;
    border-right: 1px solid #eee;
    margin: 12px 20px 0 0;
}

.novo_back-user {
    background: url(../imgs/novo_user.png) 11px 10px no-repeat;
}

.novo_back-senha {
    background: url(../imgs/lock.png) 11px 10px no-repeat;
}

.novo_input-login {
    border: 1px solid #eee;
    background-color: #f6f6f6;
    padding: 12px 12px 10px 35px;
    font-size: 12px;
    color: #444;
    width: 280px;
}

.novo_input-login:focus {
    outline: none;
}

.novo_logar {
    background: none;
    border: none;
    border: 1px solid #009045;
    background-color: #009045;
    padding: 12px 12px 10px 12px;
    font-size: 12px;
    color: #fff;
    width: 100px;
    text-align: center;
    float:left;
    margin-right: 27px;
    border-radius: 5px;
}

.novo_atalho {
    background: none;
    border: 1px solid #009045;
    background-color: #009045;
    padding: 12px 12px 10px 12px;
    font-size: 12px;
    color: #fff;
    width: 90px;
    text-align: center;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.novo_atalho img {
    display: inline-block;
    margin-bottom: 5px;
}

#novo_esqueceu-senha {
    float: left;
    margin: 12px 0 0 8px;
    padding: 0;
}

.novo_esqueceu-senha {
    font-size: 14px;
    color: #009045;
    margin: 5px 0;
}

.novo_ul-senha {
    list-style: url(../imgs/marcador-lista.png) outside;
    margin-left: -24px;
}

.novo_recuperar-senha-link {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    line-height: 29px;
}

.novo_noticias-principal {
    width: 100%;
    float: left;
    margin: 52px 0 0 10px;
    padding: 13px 20px 0 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #fafafa;
    box-sizing: border-box;
}

.novo_ultimas {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 10px 0 !important;
    margin-top: 5px;
}

.novo_noticia {
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
}

.novo_titulo-noticia {
    font-weight: bold;
    color: #009045;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

.novo_texto-noticia {
    font-size: 13px;
    line-height: 21px;
    color: #666;
}


.div_noticias-principal {
    /*width: 45%;*/
    box-sizing: border-box;
    margin: 0 !important;
    display: inline-block;
}

.div_botoes-principal {
    padding-top: 25px;
    margin: 0 auto;
    display: table;

}

.div_botoes-principal button {
    position: relative;
    float: left;
}

.novo_noticias-login {
    width: 290px;
    float: left;
    margin: 50px 0 0 10px;
    padding: 10px
}

#corpo_noticia {
    float: left;
    width: 195px;
    margin-left: 0px;
    position: relative;
    z-index: 1;

}

.coluna_esquerda_inicio {
    display: inline-block;
    padding: 35px 15px;
    box-sizing: border-box;
    margin: 10px 0 !important;
}

/* Refatoração da Tela Inicial e de Login 01/2018 */

div.section{
    display: inline-block;
    vertical-align: top;
}

.logo-botoes img{
    display: block;
    margin: auto auto 6px auto;
}

.center_960{
    padding-top: 48px;
}

.logo-botoes a{
    display: inline-block;
    box-sizing: border-box;
    min-width: 92px;
    max-width: 92px;
    min-height: 88px;
    max-height: 88px;
    text-align: center;
    padding: 14px;
    font-size: 12px;
    margin: 18px 4px;
    border-radius: 8px;
    vertical-align: middle;
    text-decoration: none !important;
}

.login_options{
    line-height: 2;
    padding: 16px 0 !important;
    margin-top: 32px !important;
}

.noticias{
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    padding: 0 16px 16px 16px;
    max-width: 400px;
    min-width: 400px;
    margin-left: 48px;
}

#novo_conteudo-login .noticias{
    margin-top: 20px;
    margin-left: 16px;
}

.noticias > h3{
    font-size: 18px;
    text-align: left;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: inherit;
    padding-bottom: 12px;
}

.novo_caixa-login{
    display: inline-block;
    float: none;
}

#novo_conteudo-login{
    max-width: 100% !important;
}

/* CORES */

.noticias{
    background-color: #fafafa;
    border-color: #eaeaea;
}

.logo-botoes a{
    background-color: #009045;
    color: white !important;
}

.noticias > h3{
    color: #333;
}

#footer{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #777;
    margin-top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 40px;
}

@media screen and (max-width: 754px) {
    #novo_busca, #area_menu_1, #area_menu_2, #area_menu_3{
        display: none !important;
    }
}
